p.list-text {
  display: inline;
}
div.story-list {
  width: 200px;
  padding: 5px;
}
div.story-part {
  width: 250px;
}

div.story-list {
  position: absolute;
  top: 10px;
  right: 10px;
}

div.writer {
  width: 400px;
  position: absolute;
  bottom: 25px;
  left: 50px;
}

.writer textarea {
  resize: none;
}

.drawer {
  display: none;
}
h1 {
  font-family: "lust-script";
}
