.writer {
  border: $base-border;
  border-radius: $base-border-radius;
  padding: 5px;
  width: 400px;
  position: absolute;
  bottom: 25px;
  left: 50px;
  textarea {
    resize: none;
  }
}
.switch {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  p {
    order: 1;
    margin-top:5px;
  }
  label {
    order: 1;
    align-self: center;
    margin-right: 30%;

  }
  button {
    order: 3;
  }
}
