.home {

  header {
    background-color: $blue;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 3px solid darken($blue, 9);

    h1 {
      margin: 10px;
      font-size: 4em;
      color: transparentize(white, 0.5);

      @include transition(all .5s ease-in-out);

      &:hover {
        color: white;
      }

      }
    h2 {
      padding: 0 20px;
      margin-top: auto;

      font-family: $georgia;
      width: 50%;
      font-size: 2.5em;

      a {
        padding: 0 20px;
        color: transparentize(white, 0.5);
        transition: all 0.2s ease-in-out;

        &:hover {
          color: white;
        }

        &.active {
          color: white;
        }
      }      
    }
  }

  .write-home {
    margin-top: 100px;
  }
}
