$time: .1s;
$easing: ease-in-out;
.page-transition-enter {
  transition: opacity $time $easing;
  opacity: 0;
  position: relative;
}
.page-transition-enter.page-transition-enter-active {
  opacity: 1;
}
.page-transition-leave {
  transition: opacity $time $easing;
  opacity: 1;
  position: relative;
}
.page-transition-leave.page-transition-leave-active {
  opacity: 0;
}