.story-adder
	position: relative
	top: 0
	left:0

	border-radius: 0;


	.writer
	    position: absolute
	    top: 25px
	    left: 25px
	    height: 280px
	    border-radius: 0
	    border: $base-border
	    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4)

	    +transition(all 0.2s ease-in-out)

	    &:child:focus 
	    	box-shadow: 15px 15px 5px rgba(0, 0, 0, 0.4)
	    
	    input
	    	border-radius: 0

	    textarea
	    	border-radius: 0
	    	height: 180px
	    	margin-bottom: -5px	    	

	    button
	      float: right
	      padding: 9px
	      border-radius: 0

	    .switch
	    	p
	    		font-weight: normal
	    		display: inline

	    	input[type=checkbox]	    	
	    		display: inline
	    		transform: scale(1.3)
	    		margin-top: 3px
	    		margin-left: 10px

	    	button
	    		position:absolute
	    		width: 80px
	    		padding: 9px
	    		right: 5px
	    		bottom: 5px
	    		display: inline
	    		background-color: darken(#00E36B, 10%)
      			transition: all 0.2s ease-in-out

  				:hover 
  					background: #00E36B
  					transition: all 0.2s ease-in-out  				

      			

	.writer:after		
		content:""
		width:10px /* same with indentation */
		height:18px
		border-left: 3px solid black
		border-bottom: 3px solid black
		margin-left:-15px /* border top width */
		position:absolute
		top:-6px/* (line-height/2) */		
		z-index:-1000

