.story-adder
	position: relative
	top: 0
	left:0


	.writer
	    position: absolute
	    top: 20px
	    left: 0
	    height: 300px
	    border: 3px solid $blue
	    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);

	    button
	      float: right