$node-tree-border : 3px solid $dark-gray;

.tree { 

}

.tree,
.tree ul {
  margin:0;
  padding:0;
  list-style:none;
}

.tree ul {
  margin-left:1em; /* indentation */
  position:relative;
}

.tree ul ul {margin-left:.5em} /* (indentation/2) */

.tree ul:before {
  content:"";
  display:block;
  width:0;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  border-left: $node-tree-border;
}

.tree li {
  margin:0;
  padding:0 1.5em; /* indentation + .5em */
  line-height:2em; /* default list item's `line-height` */
  font-weight:bold;
  position:relative;
}

.tree ul li:before {
  content:"";
  display:block;
  width:20px; /* same with indentation */
  height:30px;
  border-left: $node-tree-border;
  border-bottom: $node-tree-border;
  margin-top:-1px; /* border top width */
  position:absolute;
  top:-10px; /* (line-height/2) */
  left:0;
  z-index:-1;
}

.tree li ul:last-child:before {
  content:'';
  // background:pink; /* same with body background */
  height:1em;
  top:0; /* (line-height/2) */
  bottom:0;  
  z-index: 2;
  width: 20px;
  border-left: $node-tree-border;
}

.tree li a {
  color: black;
  font-size: 1.4em;
  text-shadow: 5px 5px 2px $light-gray;  
}


textarea.edit {
  display: none;
  height: 100%;
}
input.editTitle {
  margin: 10px 0;
  width: 350px;
  padding: 3px;
  border: $base-border;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);

  &:after {
    content: '';
    position: absolute;
    top:-30px;
    left: -20px;
    height: 20px;
    width: 20px;
  }
}

span.view {
  font-weight: normal;
}

div.editing{

  .text-scroller {
    display: none;
  }

  .viewTitle {
    display: none
  }

  span.view {
    display: none;
  }

  span.editingBtnGroup {

    button {
      border-radius: 0;
      padding: 9px;
    }

    p {      
      font-weight: normal;
      display: inline; 
      position: absolute;
      margin:0;
      padding:0;
      left: 5px;     
      bottom: 0px;
    }
    input[type=checkbox] {
      position: absolute;
      left: 120px;
      bottom: 7px;
    }

    .save {
      position: absolute;      
      right: -1px;
      bottom: -1px;
      width: 80px;
      background-color: $button-save;
      transition: $button-transition;

      &:hover {
        background-color: $button-save-hover;
      }
    }
    .cancel {
      position:absolute;
      right: 79px;
      bottom: -1px;
      width: 80px;
      background-color: $button-cancel;
      transition: $button-transition;

      &:hover {
        background-color: $button-cancel-hover;
      }
    }
  }

  textarea {    
    display: block;
    padding: 5px; 
    margin: -5px;
    width: 349px;
    resize: none;
    height: 130px;
    border-radius: 0;
    box-shadow: none;  
    
  }
  .editInfoText {
    color: $light-gray;
    padding: 0;
    text-align: center;
    margin: 0;
  }
}

.story-node {
  position: relative;
  line-height: 1.2em;
  font-family: $helvetica;
  font-size: 0.8em;
  @include transition(all 0.5s ease-in-out);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);

  background: white;
  display: block;

  .text-scroller {
    height: 130px;
    overflow-y: scroll;
  }


  padding: 5px;
  width: 350px;
  height: 165px;  

  .deleteBtn {
    padding:0;
    margin-top: -1px;
    @include size(24px);
    font-size: 1.3em;
    position: absolute;
    top:-25px;
    right: 0;
    background: none;
    color: $button-delete;    
    transition: $button-transition;
    border-radius: 0;
    text-shadow: $standard-shadow;
    transform: scale(1.1);

    &:hover {      
      color: $button-delete-hover;
      transform: scale(1.15);
      box-shadow: none;
    }
  }

  .addBtn {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 50%;
    background: white;
    border-radius: 0;
    color: $medium-gray;
    transition: $button-transition;

    &:hover {
      color: $dark-gray;
    }

    &.cancelAdd {
      color: white;
      background-color: darken(red, 10%);
      transition: $button-transition;

      &:hover {
        background-color: red;
      }
    }
  }

  .editBtn {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 50%;
    background: none;
    border-radius: 0;
    color: $medium-gray;    
    transition: all 0.2s ease-in-out;

    &:hover {
      color: $dark-gray;
    }
  }

  border: $base-border;

  &.ending {
    box-shadow: none;
    background: $light-gray;
    
    .addBtn {
      display: none;
    }

    &::before {
      content: 'Avslutande del!';
      color: transparentize(red, 0.5);
      position: absolute;
      bottom: 0;
      left:50%;      
    }
  }

  &.adding {
    .deleteBtn, .editBtn {
      display: none;
    }
  }


  h3 {
    font-size: 1.2em;
    padding-top: 5px;
  }
  hr {
    padding: 0;
    margin: 3px;
  }

  button {
    padding: 5px;
  }


}

.writer-wrap {
  margin-top: 100px;
}