.writer {
  z-index: 1000;
  border: $base-border;
  border-radius: $base-border-radius;
  background: white;
  padding: 5px;
  width: 400px;
  position: fixed;
  bottom: 25px;
  left: 50px;
  overflow: visible;
  textarea {
    resize: none;
  }
  h4 {
    font-decoration: none;
    font-size: 0.8em;
  }
  h3 {
    font-style: italic;
    font-size: 1.2em;
    padding: 0.2em;
  }

  ul.submenu {
    position: absolute;
    margin-top: -30px;
    margin-left: 155px;
  }

  .js-accordion-trigger {
    font-size:0.9em;
    text-align: center;
    width: 150px;
  }
  .story-list {
    position: absolute;
    top: 5px;
    right: 5px;

  }

}
.switch {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  p {
    order: 1;
    margin-top:5px;
  }
  label {
    order: 1;
    align-self: center;
    margin-right: 30%;

  }
  button {
    order: 3;
  }
}
