.write-home
  +outer-container
  padding-top: 20px
  h2
    font-family: $georgia
    font-size: 2em
    color: $blue

  .write-new
    +span-columns(6)

  .list-unfinished
    +span-columns(6)

    ul
      margin-top: -15px
      font-size: 1.2em


  .writer
    position: relative
    top: 0
    left: 0
    box-shadow: none
    border: 0
    margin-top: -20px

    button
      float: right
