// Typography
$sans-serif: 'Noto Sans', sans-serif;
$serif: 'Radley', serif;
$base-font-family: $sans-serif;
$heading-font-family: $serif;

// Font Sizes
$base-font-size: 1em;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 5px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;


// nice colors:
$gray-blue: #546E7A;
$indigo: #00838F;
$three: #ff80ab;
$four: #FF3D00;
$orange: #F9A825;
$brown: #4E342E;
$gray: #616161;

$accent: #f50057;




// Colors
$blue: #01579B;
$yellow: yellow;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;
$button-save: darken(#00E36B, 10%);
$button-save-hover: #00E36B;
$button-cancel: darken(#f0ad4e, 5%);
$button-cancel-hover: #f0ad4e;
$button-delete: darken(red, 5%);
$button-delete-hover: red;

// Transitions
$button-transition: all .2s ease-in-out;

// Font Colors
$base-background-color: #fff;
$base-font-color: $dark-gray;
$action-color: $blue;

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);

// Shadows
$standard-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);